################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Datenbank_Beispiel/bin/Debug/net5.0-windows
/Datenbank_Beispiel/obj
